In [1]:
import datetime
b=datetime.datetime.now()

In [2]:
import nltk
#nltk.download('stopwords')
from nltk.corpus import stopwords as nltk_stopwords
stopWords = nltk_stopwords.words("french")
#print(stopWords)
#fl.write(stopWords)

In [3]:
stopWords1 = nltk_stopwords.words("english")

In [4]:
import re
import numpy as np
import pandas as pd

In [5]:
import time

In [6]:
import matplotlib.pyplot as plt

In [7]:
import ast

In [8]:
pd.options.display.max_rows = 100

# 1/ открытие файлов

In [9]:
f_us=open('us_prenoms.txt') #американские имена
f_us_noms=open('us_noms.txt') # американские 
f_uk_noms=open('uk.txt') # английские

In [10]:
fr_pronoms = pd.read_csv('fr_names.csv', dtype=str) # французские имена
fr_noms = pd.read_csv('fr_surnames.csv')
#  
uk_prenoms = pd.read_csv('eng_names.csv', dtype=str)
us_prenoms = f_us.read()
us_noms = f_us_noms.read()
#uk_noms = f_uk_noms.read()

In [11]:
len(fr_pronoms), len(fr_noms), len(uk_prenoms), len(us_prenoms), len(us_noms)

(476, 29690, 8408, 36122, 695422)

In [12]:
uk_prenoms = list(uk_prenoms['names'])

In [13]:
fr_pronoms=list(fr_pronoms['names'])

In [14]:
fr_noms=list(fr_noms['surnames'])

In [15]:
fr_noms=sorted(fr_noms)

In [16]:
us_prenoms=us_prenoms.split('\n')

In [17]:
us_prenoms1=[]
for i in us_prenoms:
    us_prenoms1.append(i.lower())
us_prenoms=us_prenoms1

In [18]:
us_noms = us_noms.split('\n')

In [19]:
us_noms1=[]
for i in us_noms:
    us_noms1.append(i.lower())
us_noms=us_noms1

In [20]:
df0 = pd.read_csv('contacts_19sept.tsv', sep='\t', dtype=str)

In [21]:
len(df0)

1113924

In [22]:
df0['user']= df0['email'].apply(lambda x: x.split('@')[0] if x and len(x.split())>0 else None)

In [23]:
df0['user']=df0['user'].apply(lambda x: x.strip())

In [24]:
df0.groupby('user').agg({'user': 'count'}).rename({'user': 'cnt'}, axis=1).reset_index().sort_values(by='cnt', ascending=False)

                                 user     cnt
77506                         contact  246163
148219                           info   71934
7087                          accueil   24960
192964                         mairie    9717
99613                             dpo    9421
...                               ...     ...
110270      erdf-aremabt-midipyrenees       1
110271             erdf-aremabt-paris       1
110272       erdf-areprod-inf36-paris       1
110273  erdf-informatique-et-libertes       1
305931                            zzz       1

[305932 rows x 2 columns]

# списки имен и фамилий

In [25]:
uk_prenoms[:5]

['aaron', 'abbey', 'abbie', 'abby', 'abdul']

In [26]:
us_prenoms=  us_prenoms1

In [27]:
us_prenoms[:5]

['aaron', 'abbey', 'abbie', 'abby', 'abdul']

In [28]:
us_noms1=us_noms

In [29]:
us_noms1[:5]

['aaberg', 'aaby', 'aadland', 'aagaard', 'aakre']

In [30]:
fr_pronoms[:5]

['adelaide', 'adele', 'adeline', 'adrien', 'adrienne']

In [31]:
fr_noms[:5]

['aaron', 'abad', 'abadia', 'abadie', 'abalain']

# 2/ формируем список стоп слов

In [32]:
valc =df0['user'].value_counts().head(1200)

In [33]:
valc = valc.reset_index()

In [34]:
valc

                   index    user
0                contact  246163
1                   info   71934
2                accueil   24960
3                 mairie    9717
4                    dpo    9421
...                  ...     ...
1195                yves      44
1196            lerelais      44
1197               regie      44
1198         albertville      44
1199  joachim.wendenburg      44

[1200 rows x 2 columns]

In [35]:
valc['s']=valc['index'].apply(lambda x: x.replace('-',''))

In [36]:
valc['s']=valc['index'].apply(lambda x: x.replace('_',''))

In [37]:
valc['s'] = valc['index'].apply(lambda x: x.split('.'))

In [38]:
valc=valc.explode(column ='s')

In [39]:
valc.head(100)

                         index    user                           s
0                      contact  246163                     contact
1                         info   71934                        info
2                      accueil   24960                     accueil
3                       mairie    9717                      mairie
4                          dpo    9421                         dpo
5                communication    8779               communication
6                  recrutement    8282                 recrutement
7                    direction    8196                   direction
8                  secretariat    6429                 secretariat
9                   commercial    6407                  commercial
10                       infos    6377                       infos
11                     support    5250                     support
12                      robert    4433                      robert
13                   webmaster    3958                   webmaster
14                  prenom.nom    3821                      prenom
14                  prenom.nom    3821                         nom
15                     exemple    3174                     exemple
16                     privacy    3119                     privacy
17                     license    3059                     license
18              service.client    2659                     service
18              service.client    2659                      client
19                       siege    2622                       siege
20                      sholby    2210                      sholby
21                       sales    2180                       sales
22                    courrier    2070                    courrier
23               serviceclient    2031               serviceclient
24                 reservation    1983                 reservation
25               pierremaistre    1953               pierremaistre
26                     banette    1928                     banette
27                   marketing    1876                   marketing
28                        mail    1862                        mail
29                       hello    1827                       hello
30  directiondelacommunication    1802  directiondelacommunication
31                     adresse    1798                     adresse
32     service.discriminations    1793                     service
32     service.discriminations    1793             discriminations
33               dre_grandlyon    1785               dre_grandlyon
34                          rh    1742                          rh
35              serviceclients    1680              serviceclients
36                    standard    1565                    standard
37                         sav    1520                         sav
38                masteredfcom    1508                masteredfcom
39                    contacts    1458                    contacts
40                       paris    1452                       paris
41                       admin    1451                       admin
42                      compta    1441                      compta
43                      presse    1438                      presse
44                        rgpd    1431                        rgpd
45                     ad-rgpd    1365                     ad-rgpd
46                         nom    1305                         nom
47             service.clients    1263                     service
47             service.clients    1263                     clients
48                      agence    1256                      agence
49              administration    1216              administration
50          satisfactionclient    1214          satisfactionclient
51                      ikoula    1144                      ikoula
52                 jean.dupont    1124                        jean
52                 jean.dupont    1124                      dupont
53                infos.groupe    1094                       infos
53                infos.groupe    1094                      groupe
54       informatiqueetliberte    1078       informatiqueetliberte
55                     cabinet    1056                     cabinet
56           sylvie.honorat.am    1055                      sylvie
56           sylvie.honorat.am    1055                     honorat
56           sylvie.honorat.am    1055                          am
57               services.psef    1044                    services
57               services.psef    1044                        psef
58                accueil_issy    1009                accueil_issy
59                   formation     978                   formation
60                     service     976                     service
61                         web     969                         web
62                     bonjour     966                     bonjour
63                     my-name     962                     my-name
64              service-client     956              service-client
65                      infofr     951                      infofr
66                  contactweb     918                  contactweb
67                         drh     917                         drh
68                 information     888                 information
69               info-centrale     885               info-centrale
70                comptabilite     881                comptabilite
71                      france     881                      france
72                         cil     853                         cil
73         immobilier.notaires     852                  immobilier
73         immobilier.notaires     852                    notaires
74                        cnil     848                        cnil
75                     miracle     835                     miracle
76          contact.automotive     833                     contact
76          contact.automotive     833                  automotive
77                    boutique     786                    boutique
78                       email     781                       email
79         donneespersonnelles     778         donneespersonnelles
80                      client     764                      client
81                       ecole     757                       ecole
82                        lyon     735                        lyon
83                        jobs     713                        jobs
84               accueil.siege     708                     accueil
84               accueil.siege     708                       siege
85             consultation.mp     705                consultation
85             consultation.mp     705                          mp
86                      dircom     704                      dircom

In [40]:
len(valc)

1485

In [41]:
gvalc = valc.groupby('s')['user'].sum().sort_values() #.agg({'user':'sum'})

In [42]:
gvalc=gvalc.reset_index()

In [43]:
gvalc.sort_values(by='user', ascending = False).head(50)

                               s    user
1175                     contact  250528
1174                        info   72952
1173                     accueil   30457
1172                         dpo   10426
1171                      mairie   10214
1170               communication   10156
1169                   direction    9450
1168                     service    8798
1167                 recrutement    8754
1166                 secretariat    8097
1165                       infos    7471
1164                  commercial    6873
1163                         nom    5291
1162                     support    5250
1161                      robert    4433
1160                   webmaster    4360
1159                      prenom    3986
1158                     privacy    3938
1157                      client    3820
1156                       siege    3806
1155                     exemple    3174
1154                     license    3059
1153                       paris    2978
1152                    standard    2553
1151                      france    2335
1150                      sholby    2210
1149                       sales    2180
1148                    courrier    2070
1147               serviceclient    2031
1146                 reservation    1983
1145               pierremaistre    1953
1144                          rh    1943
1143                     banette    1928
1142                        mail    1914
1140                          ce    1876
1141                   marketing    1876
1139                     adresse    1848
1138                       hello    1827
1137  directiondelacommunication    1802
1136             discriminations    1793
1135               dre_grandlyon    1785
1134              serviceclients    1777
1133                          fr    1720
1132                        rgpd    1719
1131                         sav    1520
1130                      groupe    1520
1129                masteredfcom    1508
1128                      compta    1497
1127                     clients    1473
1126                    contacts    1458

In [44]:
df0['user'].value_counts().head(1200)

contact               246163
info                   71934
accueil                24960
mairie                  9717
dpo                     9421
                       ...
yves                      44
lerelais                  44
regie                     44
albertville               44
joachim.wendenburg        44
Name: user, Length: 1200, dtype: int64

In [45]:
df=df0[['email', 'siret']]

In [46]:
df = df.rename({'email': 'mail'}, axis=1)

In [47]:
%%time
df['user']= df['mail'].apply(lambda x: x.split('@')[0] if x and len(x.split())>0 else None)

CPU times: user 2.33 s, sys: 266 ms, total: 2.59 s
Wall time: 2.73 s

In [48]:
df=df[['mail', 'user']]

In [49]:
len(df['user'])

1113924

In [50]:
len(df['user'].unique())

305932

In [51]:
df['user05']= df['user'].apply(lambda x: re.sub(r'[0-9]','', x) if x else None)

In [52]:
df['user']=df['user05'].apply(lambda x: x.replace('..', '').replace('..', ''))

In [53]:

df['user']=df['user'].apply(lambda x: x.replace('-', '.'))

df['user']=df['user'].apply(lambda x: x.replace('_', '.'))
df['user_part1']=df['user'].apply(lambda x: x.split('.')[0])
df=df.explode(column='user_part1')
#df['user_part']=df['user_part'].apply(lambda x: x if len(x)>=3 else None)

In [54]:
df['user_part2']=df['user'].apply(lambda x: x.split('.')[1] if len(x.split('.'))>1 else None)
df['user_part3']=df['user'].apply(lambda x: x.split('.')[2] if len(x.split('.'))>2 else None)

In [55]:
len(df)

1113924

In [56]:
n=200

In [57]:
df=df.explode(column='user_part2')

In [58]:
exapp1=df['user_part1'].value_counts().head(n)

exapp1=exapp1.dropna()

exapp1 = exapp1.reset_index()

exapp1

exapp1 = exapp1.query('index.notna()')

exapp1['ln']=exapp1['index'].apply(lambda x: len(x))

exapp1

exapp11 = exapp1.query('ln>2')

e1=set(exapp11['index'])

In [59]:
exapp2=df['user_part2'].value_counts().head(n)

exapp2=exapp2.dropna()

exapp2 = exapp2.reset_index()

exapp2 = exapp2.query('index.notna()')

exapp2['ln']=exapp2['index'].apply(lambda x: len(x))

exapp21 = exapp2.query('ln>2')

e2=set(exapp21['index'])

In [60]:
exapp3=df['user_part3'].value_counts().head(n)

exapp3=exapp3.dropna()

exapp3 = exapp3.reset_index()

exapp3 = exapp3.query('index.notna()')

exapp3['ln']=exapp3['index'].apply(lambda x: len(x))

exapp32 = exapp3.query('ln>2')

e3=set(exapp32['index'])

In [61]:
len(e1), len(e2), len(e3)

(172, 160, 169)

In [62]:
e1

{'acamaieu',
 'acceuil',
 'accueil',
 'actionnaires',
 'admin',
 'administratif',
 'administration',
 'adresse',
 'adressemail',
 'agence',
 'alain',
 'alphega',
 'anne',
 'association',
 'atelier',
 'banette',
 'bienvenue',
 'bonjour',
 'bordeaux',
 'boutique',
 'bruno',
 'bureau',
 'cabinet',
 'cabinetdumaire',
 'camping',
 'ccas',
 'celine',
 'christophe',
 'cil',
 'client',
 'clients',
 'cnil',
 'com',
 'commande',
 'commerce',
 'commercial',
 'communication',
 'compta',
 'comptabilite',
 'concours',
 'consultation',
 'contact',
 'contactpub',
 'contacts',
 'contactweb',
 'courrier',
 'data',
 'dave',
 'david',
 'developpement',
 'devis',
 'didier',
 'dircom',
 'direction',
 'directiondelacommunication',
 'donneespersonnelles',
 'dpo',
 'dre',
 'drh',
 'ecole',
 'ecommerce',
 'email',
 'entreprise',
 'eram',
 'eric',
 'etude',
 'exemple',
 'export',
 'facteur',
 'formation',
 'france',
 'franchise',
 'franck',
 'francois',
 'frederic',
 'garage',
 'gestion',
 'groupe',
 'hello',
 'hotel',
 'ikoula',
 'immobilier',
 'info',
 'infofr',
 'information',
 'informatique',
 'informatiqueetliberte',
 'infos',
 'isabelle',
 'jean',
 'jerome',
 'job',
 'jobs',
 'julien',
 'laurent',
 'license',
 'lille',
 'lyon',
 'magasin',
 'mail',
 'maire',
 'mairie',
 'marc',
 'marie',
 'marketing',
 'marseille',
 'masteredfcom',
 'matmut',
 'mautomobiles',
 'michel',
 'miracle',
 'nantes',
 'nathalie',
 'nicolas',
 'nom',
 'office',
 'olivier',
 'paris',
 'pascal',
 'patrick',
 'pdv',
 'pharmacie',
 'philippe',
 'pierre',
 'pierremaistre',
 'prenom',
 'press',
 'presse',
 'pressoffice',
 'privacy',
 'reception',
 'recrutement',
 'redaction',
 'relationclient',
 'rennes',
 'resa',
 'reservation',
 'reservations',
 'restaurant',
 'rgpd',
 'robert',
 'sales',
 'sarl',
 'sas',
 'satisfactionclient',
 'sav',
 'scp',
 'sebastien',
 'secretariat',
 'service',
 'serviceclient',
 'serviceclients',
 'services',
 'sholby',
 'siege',
 'sophie',
 'standard',
 'stephane',
 'support',
 'sylvie',
 'technique',
 'thierry',
 'toulouse',
 'transports',
 'valerie',
 'vincent',
 'votre',
 'web',
 'webmaster',
 'webmestre',
 'websitebuilder',
 'www'}

In [63]:
e2

{'accueil',
 'aeras',
 'afnic',
 'aix',
 'angers',
 'annecy',
 'antibes',
 'arenas',
 'auto',
 'automotive',
 'avocat',
 'bernard',
 'beziers',
 'bordeaux',
 'brest',
 'bridges',
 'cabinet',
 'caisse',
 'calhl',
 'cedeo',
 'centrale',
 'centre',
 'chomage',
 'claude',
 'clichy',
 'client',
 'clientele',
 'clients',
 'cmcas',
 'cnil',
 'com',
 'commerce',
 'commercial',
 'communication',
 'compiegne',
 'consommateur',
 'consommateurs',
 'contact',
 'courriel',
 'dam',
 'dan',
 'david',
 'dec',
 'des',
 'dgs',
 'digitale',
 'direction',
 'discriminations',
 'donnees',
 'donneespersonnelles',
 'dpo',
 'dupont',
 'durand',
 'elec',
 'enligne',
 'entreprises',
 'est',
 'europe',
 'expertise',
 'express',
 'formation',
 'france',
 'francois',
 'general',
 'generale',
 'gougeon',
 'grandlyon',
 'grenoble',
 'groupe',
 'honorat',
 'hotel',
 'idf',
 'iio',
 'immo',
 'immobilier',
 'industrie',
 'info',
 'information',
 'informatique',
 'interim',
 'internet',
 'issy',
 'jean',
 'julie',
 'juridique',
 'koszczanski',
 'laumain',
 'laurent',
 'lefoulon',
 'lille',
 'logement',
 'longoni',
 'lpl',
 'lsf',
 'luc',
 'lyon',
 'maaf',
 'mail',
 'mails',
 'maire',
 'mairie',
 'manvussat',
 'marc',
 'marie',
 'marketing',
 'marseille',
 'martin',
 'menut',
 'michel',
 'montpellier',
 'montrouge',
 'name',
 'nantes',
 'nice',
 'nom',
 'nord',
 'notaires',
 'orleans',
 'osteo',
 'ouest',
 'paris',
 'peinture',
 'personnelles',
 'pessac',
 'petit',
 'philippe',
 'pierre',
 'pointp',
 'prenom',
 'presse',
 'privacy',
 'pro',
 'psef',
 'qualite',
 'raimbault',
 'reception',
 'recrutement',
 'relations',
 'rennes',
 'rgpd',
 'rozes',
 'saint',
 'saio',
 'sarl',
 'sas',
 'secretariat',
 'service',
 'services',
 'siege',
 'site',
 'social',
 'standard',
 'strasbourg',
 'sud',
 'technique',
 'thi',
 'tollens',
 'toulouse',
 'tourisme',
 'web'}

In [64]:
e3

{'accueil',
 'aix',
 'alpes',
 'archi',
 'architecte',
 'ardennes',
 'associes',
 'auto',
 'automobiles',
 'avocat',
 'avocats',
 'basque',
 'beaute',
 'beauvais',
 'bois',
 'bopublic',
 'bordeaux',
 'bossert',
 'brancion',
 'carrefour',
 'ccas',
 'center',
 'centre',
 'cergy',
 'cged',
 'chs',
 'client',
 'club',
 'com',
 'comcontact',
 'communication',
 'compta',
 'comptable',
 'concept',
 'conseil',
 'conso',
 'construction',
 'contact',
 'csf',
 'cuvelier',
 'des',
 'digne',
 'dijon',
 'dir',
 'direction',
 'donnees',
 'dpo',
 'ecole',
 'eiffage',
 'elec',
 'energie',
 'enseignement',
 'epargne',
 'est',
 'etienne',
 'ext',
 'fede',
 'ficher',
 'fils',
 'formation',
 'france',
 'freres',
 'gare',
 'garonne',
 'generale',
 'generales',
 'geneve',
 'gers',
 'habitat',
 'hbfr',
 'homeservices',
 'hygiene',
 'immo',
 'immobilier',
 'independants',
 'info',
 'infos',
 'internet',
 'ivry',
 'jacques',
 'jean',
 'jeunes',
 'joseph',
 'jpo',
 'lac',
 'les',
 'leurent',
 'libertes',
 'ligne',
 'lille',
 'location',
 'lor',
 'lorraine',
 'loucatel',
 'louis',
 'lyon',
 'mail',
 'maire',
 'mairie',
 'marcadier',
 'marie',
 'martin',
 'mdb',
 'michel',
 'midi',
 'miere',
 'montpellier',
 'mve',
 'nantes',
 'neuf',
 'nice',
 'nord',
 'nordest',
 'nous',
 'novillars',
 'osteo',
 'osteopathe',
 'ouest',
 'oyonnax',
 'paillot',
 'paris',
 'paul',
 'paysage',
 'peinture',
 'personnelles',
 'pierre',
 'pilotage',
 'plessis',
 'presse',
 'pro',
 'provence',
 'psy',
 'psychologue',
 'publics',
 'pyrenees',
 'quartiers',
 'recrutement',
 'rennes',
 'riviere',
 'roanne',
 'robert',
 'rochelle',
 'saint',
 'sarl',
 'sauveterre',
 'sec',
 'secretariat',
 'sens',
 'service',
 'services',
 'shop',
 'siege',
 'src',
 'stephanois',
 'sud',
 'support',
 'sur',
 'taxi',
 'team',
 'topaz',
 'tortorici',
 'toulouse',
 'transfert',
 'vente',
 'vie',
 'vienne',
 'ville',
 'vws',
 'web'}

#  список стоп слов на основе частей юзеров

In [65]:
all =e1.union(e2).union(e3)

In [66]:
len(all)

382

In [67]:
'sales' in all

True

In [68]:
'sales' in fr_noms

True

In [69]:
t1=set(all)  - set(uk_prenoms)-set(us_prenoms) - set(fr_pronoms) #-set(fr_noms) # - set(us_noms) за искл. самих имен и фамилией

In [70]:
'sales' in t1

True

In [71]:
t4=[] # короткие стоп слова не нужны
for i in t1:
    if len(i)>2:
        t4.append(i)

In [72]:
t4=sorted((t4))

In [73]:
len(t4)

324

In [74]:
df['user_part1'].value_counts().head(100)

contact                       263126
info                           77703
accueil                        36823
mairie                         12845
service                        12770
dpo                            10904
direction                       9791
communication                   9687
secretariat                     9349
recrutement                     9108
infos                           7801
commercial                      6860
support                         5447
ce                              4808
webmaster                       4651
robert                          4542
prenom                          3841
privacy                         3830
siege                           3405
exemple                         3179
license                         3059
standard                        3056
agence                          2876
jean                            2748
paris                           2562
sales                           2433
                                2352
serviceclient                   2240
c                               2226
sholby                          2210
marketing                       2134
courrier                        2120
reservation                     2117
a                               2063
mail                            2011
rh                              1982
s                               1976
pierremaistre                   1953
banette                         1928
cabinet                         1924
sav                             1844
hello                           1842
adresse                         1804
directiondelacommunication      1803
rgpd                            1785
dre                             1785
serviceclients                  1754
contacts                        1668
compta                          1660
m                               1642
ad                              1591
sylvie                          1570
admin                           1553
presse                          1553
masteredfcom                    1508
e                               1491
nom                             1490
stephane                        1476
sarl                            1470
h                               1433
philippe                        1364
france                          1329
services                        1324
administration                  1300
f                               1278
p                               1276
formation                       1230
j                               1216
satisfactionclient              1214
d                               1198
office                          1198
web                             1184
v                               1171
reception                       1149
ikoula                          1144
laurent                         1084
informatiqueetliberte           1078
boutique                        1063
drh                             1022
informatique                    1014
l                               1006
my                               984
bonjour                          977
lyon                             974
immobilier                       959
pdv                              956
information                      952
infofr                           951
ecole                            949
cil                              924
contactweb                       919
comptabilite                     912
n                                895
atelier                          889
eric                             888
olivier                          866
b                                865
cnil                             849
miracle                          835
g                                831
Name: user_part1, dtype: int64

In [75]:
len(df)

1113924

In [76]:
df=df.explode(column='user_part3')

In [77]:
df['user_part2'].value_counts().head(50)

client             4422
nom                4041
accueil            3061
france             3008
fr                 2796
                   2690
paris              2242
clients            1953
discriminations    1793
grandlyon          1788
rgpd               1690
dupont             1410
siege              1397
communication      1388
groupe             1316
contact            1288
issy               1155
info               1094
honorat            1055
psef               1044
de                 1009
name                968
commercial          914
centrale            908
generale            900
mairie              893
notaires            880
automotive          838
direction           802
mp                  776
lyon                768
donnees             740
privacy             709
general             703
maaf                651
afnic               637
raimbault           631
service             626
b                   621
sarl                612
et                  604
internet            587
dg                  578
courriel            563
expertise           551
immobilier          544
d                   530
cedeo               510
secretariat         510
thi                 501
Name: user_part2, dtype: int64

In [78]:
'den' in us_prenoms

False

In [79]:
'dan' in uk_prenoms

True

In [80]:
excludes=gvalc['s']

In [81]:
gvalc

               s    user
0           idfn      44
1       lerelais      44
2        joachim      44
3     wendenburg      44
4     osteo-open      44
...          ...     ...
1171      mairie   10214
1172         dpo   10426
1173     accueil   30457
1174        info   72952
1175     contact  250528

[1176 rows x 2 columns]

In [82]:
'sales' in excludes

False

In [83]:
gvalc

               s    user
0           idfn      44
1       lerelais      44
2        joachim      44
3     wendenburg      44
4     osteo-open      44
...          ...     ...
1171      mairie   10214
1172         dpo   10426
1173     accueil   30457
1174        info   72952
1175     contact  250528

[1176 rows x 2 columns]

In [84]:
def f_ex():
    excludes=list(gvalc['s'])

    
    excludes4=[]
    for i in excludes:
        for j in i.split('.'):
            excludes4.append(j)

    excludes5=[]
    for i in excludes4:
        for j in i.split('-'):
            excludes5.append(j)


    excludes6=[]
    for i in excludes5:
        for j in i.split('_'):
            excludes6.append(j)

    excludes7=set(excludes6)  - set(uk_prenoms) -set(fr_pronoms) -set(us_prenoms)\
    .union(set(stopWords)).union(set(stopWords1))
    
    excludes8=[]
    for i in excludes7:
        if len(i)> 2:
            excludes8.append(i)

    ex3 = set(list(df['user_part2'].value_counts().head(50).index))\
    .union(set(excludes8))\
    .union(set(list(df['user_part1'].value_counts().head(50).index)))

    return ex3 #ex1

In [85]:
ex_final = f_ex() # исключения

In [ ]:
sorted(ex_final).to_csv('stop_list.csv')

In [86]:
len(ex_final)

986

In [87]:
# объединение подходов

In [88]:
'sales' in ex_final

True

In [89]:
ex_final=ex_final.union(t4)

In [90]:
len(ex_final) # список стоп слов

1070

In [91]:
'dave' in ex_final

False

# очистка сета от записей содержащих стоп слова

In [92]:
len(df)

1113924

In [93]:
df=df.reset_index()

In [94]:
%%time
#df['user0']=df['user_part'].apply(lambda x: x if x not in ex_final1 else None)
def notex(row):
    user_part1 = row['user_part1']
    user_part2 = row['user_part2']
    user_part3 = row['user_part3']
    user = row['user']
    if (user_part1 not in ex_final) and (user_part2 not in ex_final) \
    and (user_part3 not in ex_final):
        return user
    else:
        None

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 28.8 µs

In [95]:
%%time
df['user_res0']=df.apply(notex, axis=1)

CPU times: user 1min 26s, sys: 750 ms, total: 1min 26s
Wall time: 1min 31s

In [96]:
df['user_res1'] = df['user_res0'].apply(lambda x: x if x and len(x)>2 else None)

In [97]:
def f(x):
    if x and '.' in x and len(x)==4:
        return  re.sub(r"[a-z]{2}\.[a-z]", '', x)
    else:
        return x

In [98]:
df['user_res2']=df['user_res1'].apply(lambda x: f(x) )

In [99]:
df['user_res3'] = df['user_res2'].apply(lambda x: x if x and len(x)>2 else None)

In [100]:
# распределение

In [101]:
df.query('index.notna()')['user_res3'].value_counts().head(100)

dave                483
maire               406
jules               364
assu                324
contactbanque       281
caroll              231
vous                227
alix                212
ddfip               207
john.bridges        202
philippe            199
david               194
olivier             191
laurent             187
nicolas             185
julie               185
cmo                 177
jack                163
marie               160
charlotte           158
stephane            149
julien              146
christophe          144
eric                142
john                140
sophie              134
nathalie            133
sebastien           126
pierre              121
caroline            116
procaromat          116
kimberly.stewart    115
thierry             111
pascal              109
jerome              108
arnaud              106
adhapb              105
harry               104
patrick             103
vincent             103
guillaume           102
frederic            101
thomas              100
valerie              99
isabelle             95
michel               95
marc                 95
bruno                93
dep                  92
franck               92
catherine            91
celine               88
degres               87
lespep               87
alain                87
fred                 84
cedric               84
nancy                84
sandrine             82
infrep               82
le.maire             81
alexandra            81
laurence             79
antoine              78
stephanie            77
xavier               76
didier               76
romain               76
mutualite            75
menuiseries          75
anne                 74
elodie               74
virginie             74
claire               73
francois             72
sylvie               70
sylvain              69
mathieu              67
addonsprestashop     67
stephane.beal        66
janis                65
alexandre            65
denis                64
par                  63
aurelie              63
montelimar           62
claude               62
dominique            61
fabrice              61
damien               60
delphine             60
emilie               57
alex                 57
lechesnay            57
fabien               57
karine               57
gilles               56
christian            56
paul                 56
fol                  55
Name: user_res3, dtype: int64

In [102]:
df.query('index.notna()')['user_res3'].value_counts().to_csv('result_distribution.csv')